@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

/*Inicio NavBar*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/imgs/fundo3.png);
    background-size: cover;
    background-repeat: no-repeat;


}

.img-logo {
    display: flex;
    height: 120px;
    width: 100px;

}

.nav-bar {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-family: "Slackey", sans-serif;

}

.nav-bar .img-logo {
    display: flex;
    padding-left: 15px;
}

.nav-bar .links {
    display: flex;
    margin-right: 100px;
    gap: 100px;
}

.nav-bar .links li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-bar .links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease
}

.nav-bar .links li:hover {
    transform: translateY(-3px);
}

.nav-bar .links li a:hover {
    color: rgb(71, 245, 71);
    transform: color 0.2 ease;
    transform: translateY(-3px);
}

.nav-bar .botoes {
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

.nav-bar .botoes .btn-login {
    background: #6a1b9a;
    color: #fff;
    font-family: "Slackey", sans-serif;
    padding: 10px 30px;
    border: 2px solid #ffa726;
    border-radius: 10px;
    text-shadow: 2px 2px 0 #4a0072;
    box-shadow: 0 4px 0 #4a0072;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nav-bar .botoes .btn-cadastro {
    background: #6a1b9a;
    color: #fff;
    font-family: "Slackey", sans-serif;
    padding: 10px 10px;
    border: 2px solid #ffa726;
    border-radius: 10px;
    text-shadow: 2px 2px 0 #4a0072;
    box-shadow: 0 4px 0 #4a0072;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nav-bar .botoes .btn-login:hover {
    background: #7b1fa2;
    transform: translateY(-3px);
}

.nav-bar .botoes .btn-cadastro:hover {
    background: #7b1fa2;
    transform: translateY(-3px);
}

.nav-bar .botoes .btn-login:hover {
    background: #7b1fa2;
    color: rgb(71, 245, 71);
    transform: translateY(-3px);
    transform: color 0.2 ease;

}

.nav-bar .botoes .btn-cadastro:hover {
    background: #7b1fa2;
    color: rgb(71, 245, 71);
    transform: translateY(-3px);
    transform: color 0.2 ease;
}

.menu {
    width: 25px;
    height: 4px;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;
}

.container-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

/* Fim nav bar */
.banner {
    display: fle;
    height: 100%;
}

.banner .temas-texto h1 {
    display: flex;
    color: #ffa726;
    font-family: "Slackey", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0 #4a0072;
    text-align: center;
    justify-content: center;

}
.input-menor {
    width: 150px;
    height: 35px;
    padding: 8px;
    box-sizing: border-box;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space;
    margin-left: -3%;
    margin-top: 4%;

}

.cards-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space;
    margin-left: -3%;
    margin-top: 4%;
}

.cards1 {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    max-width: 220px;
    backdrop-filter: blur(4px);
    justify-content: center;
    margin-left: 3%;
    flex-direction: row;
}

.cards1:hover {
    transform: translateY(-3px);
}

.cards1 img {
    width: 200px;
    height: 200px;

}

.cards2 {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    max-width: 220px;
    backdrop-filter: blur(4px);
    justify-content: center;
    margin-left: 3%;
    flex-direction: row;

}

.cards2:hover {
    transform: translateY(-3px);
}

.cards2 img {
    width: 200px;
    height: 200px;
}

.cards3 {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    max-width: 220px;
    backdrop-filter: blur(4px);
    justify-content: center;
    margin-left: 3%;
    flex-direction: row;

}

.cards3:hover {
    transform: translateY(-3px);
}

.cards3 img {
    width: 200px;
    height: 200px;
}


.cards7 {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    max-width: 220px;
    backdrop-filter: blur(4px);
    justify-content: center;
    margin-left: 3%;
    flex-direction: row;

}

.cards7:hover {
    transform: translateY(-3px);
}

.cards7 img {
    width: 200px;
    height: 200px;
}

.cards8 {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    max-width: 220px;
    backdrop-filter: blur(4px);
    justify-content: center;
    margin-left: 3%;
    flex-direction: row;

}

.cards8:hover {
    transform: translateY(-3px);
}

.cards8 img {
    width: 200px;
    height: 200px;
}

.cards9 {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    max-width: 220px;
    backdrop-filter: blur(4px);
    justify-content: center;
    margin-left: 3%;
    flex-direction: row;

}

.cards9:hover {
    transform: translateY(-3px);
}

.cards9 img {
    width: 200px;
    height: 200px;
}